motchallenge-devkit
*.sbatch

# C/C++ compiler
*.so
*.a
*.o
*.out
*.obj

# C Extensions
*.so

# Python
*.py[cod]
*$py.class
.python-version
__pycache__
*.egg-info

# MacOSX
.DS_Store
._.DS_Store
._*

# Visual Studio Code
.vscode

.idea
1st presentation
adlcv_env
build
results
training_set/*

log/*
*.pt
